DOCKER_HOST_ADDR="127.0.0.1";
DOCKER_HOST_PORT="4243";
DOCKER_HOST="$DOCKER_HOST_ADDR:$DOCKER_HOST_PORT"

DISTANT_MOUNT_POINT="/home/dev";

CONTAINER_PORTS="22, 4242";

IMAGE_NAME="ubuntu";

# path to the development env Dockerfile.
DEV_ENVIRONMENT="./development";

# path to the production env Dockerfile.
PROD_ENVIRONMENT="./production";
